<h1>Pandas Tutorial</h1>
<img src="https://static.javatpoint.com/tutorial/pandas/images/python-pandas.png" alt="pandas logo 200x200"/>
This is a documented tutorial of pandas library in python, For this tutorial, we will be working on a dataset of Pokemon which is present in this repo.

## Importing Pandas
Importing Pandas and displaying a portion of the data we are going to use so that we are familiar with the data format. (Checking out the csv file is highly recomended.)

In [3]:
import pandas as pd

pokemon = pd.read_csv('pokemon_data.csv')
pokemon.head(13)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False

If we use print(), we can see how it looks like outside of Jupyter notebook (regular python)

In [55]:
print(pokemon.head(13))

    #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0   1                  Bulbasaur  Grass  Poison  45      49       49       65
1   2                    Ivysaur  Grass  Poison  60      62       63       80
2   3                   Venusaur  Grass  Poison  80      82       83      100
3   3      VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4   4                 Charmander   Fire     NaN  39      52       43       60
5   5                 Charmeleon   Fire     NaN  58      64       58       80
6   6                  Charizard   Fire  Flying  78      84       78      109
7   6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8   6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159
9   7                   Squirtle  Water     NaN  44      48       65       50
10  8                  Wartortle  Water     NaN  59      63       80       65
11  9                  Blastoise  Water     NaN  79      83      100       85
12  9    BlastoiseMega Blastoise  Water     NaN  79     103      120      135

    Sp. Def  Speed  Generation  Legendary
0        65     45           1      False
1        80     60           1      False
2       100     80           1      False
3       120     80           1      False
4        50     65           1      False
5        65     80           1      False
6        85    100           1      False
7        85    100           1      False
8       115    100           1      False
9        64     43           1      False
10       80     58           1      False
11      105     78           1      False
12      115     78           1      False

## Loading data from different file formats:
In the previous example, we saw how to load data into a dataframe from a CSV file, now well see how to load from other file formats, keep in mind that once data is loaded into the dataframe, the operations on data are performed in the same way, i.e. no matter the source of data, the format of data in a dataframe is same.

#### Excel file:

In [50]:
pokemon_excel = pd.read_excel('pokemon_data.xlsx')
pokemon_excel.head(13)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False

#### Text file (Tab separated)
Note: The text file we are using is tab '\t' separated i.e. '\t' is the delimiter, however anything can be used as a delimiter in the source file.

In [48]:
pokemon_txt = pd.read_csv('pokemon_data.txt', delimiter='\t')
pokemon_txt.head(13)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False

## Reading from Data Frame:
Here is the dataframe printed for reference:

In [20]:
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

#### Reading the headers (Column Names)

In [23]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

#### Reading each column

In [26]:
pokemon.Name # This method allows only one column at a time

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [28]:
pokemon['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [38]:
pokemon['Name'][166:175] # can specify the range by index while selecting: here i am selecting the gen 2 starters by index

166     Chikorita
167       Bayleef
168      Meganium
169     Cyndaquil
170       Quilava
171    Typhlosion
172      Totodile
173      Croconaw
174    Feraligatr
Name: Name, dtype: object

In [46]:
pokemon[['Name','Type 1','Type 2']][0:166] #Can select multiple specific columns, here I am selecting the name and type of all gen-1 pokemon

                      Name   Type 1    Type 2
0                Bulbasaur    Grass    Poison
1                  Ivysaur    Grass    Poison
2                 Venusaur    Grass    Poison
3    VenusaurMega Venusaur    Grass    Poison
4               Charmander     Fire       NaN
..                     ...      ...       ...
161              Dragonite   Dragon    Flying
162                 Mewtwo  Psychic       NaN
163    MewtwoMega Mewtwo X  Psychic  Fighting
164    MewtwoMega Mewtwo Y  Psychic       NaN
165                    Mew  Psychic       NaN

[166 rows x 3 columns]

#### Reading each Row:

In [60]:
pokemon.iloc[6] #iloc => integer location, can get a specific raw using this

#                     6
Name          Charizard
Type 1             Fire
Type 2           Flying
HP                   78
Attack               84
Defense              78
Sp. Atk             109
Sp. Def              85
Speed               100
Generation            1
Legendary         False
Name: 6, dtype: object

In [66]:
pokemon.iloc[4:9] # Can access a range of rows using index

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

#### Reading Specific values (row,column)

In [71]:
pokemon.iloc[6,1] #Row index 6, column index 1

'Charizard'

In [75]:
pokemon.iloc[4:9,1:4] #select row 4-9, column 1-4 exclusive)

                        Name Type 1  Type 2
4                 Charmander   Fire     NaN
5                 Charmeleon   Fire     NaN
6                  Charizard   Fire  Flying
7  CharizardMega Charizard X   Fire  Dragon
8  CharizardMega Charizard Y   Fire  Flying

#### Iterating through each Row

In [7]:
for index,row in pokemon.iterrows():
    if index>5:
        break # This part is to keep the notebook lite
    print(index,"==>\n",row) # prints row as an object , i.e. index is integer, row is object

0 ==>
 #                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object
1 ==>
 #                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object
2 ==>
 #                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object
3 ==>
 #                                 3
Name          VenusaurMega Venusaur
Type 1                        Grass
Type 2                       Poison
HP                               80
Attack                          100
Defense                         123
Sp. Atk                         122
Sp. Def                         120
Speed                            80
Generation                        1
Legendary                     False
Name: 3, dtype: object
4 ==>
 #                      4
Name          Charmander
Type 1              Fire
Type 2               NaN
HP                    39
Attack                52
Defense               43
Sp. Atk               60
Sp. Def               50
Speed                 65
Generation             1
Legendary          False
Name: 4, dtype: object
5 ==>
 #                      5
Name          Charmeleon
Type 1              Fire
Type 2               NaN
HP                    58
Attack                64
Defense               58
Sp. Atk               80
Sp. Def               65
Speed                 80
Generation             1
Legendary          False
Name: 5, dtype: object

In [13]:
for index,row in pokemon.iterrows():
    if row['Generation'] != 1 or index>10: # index part is to keep the notebook lite
        break; # only allow gen 1 pokemon
    print(index,"==>\n",row[['Name','Type 1','Type 2']]) #print only name and types

0 ==>
 Name      Bulbasaur
Type 1        Grass
Type 2       Poison
Name: 0, dtype: object
1 ==>
 Name      Ivysaur
Type 1      Grass
Type 2     Poison
Name: 1, dtype: object
2 ==>
 Name      Venusaur
Type 1       Grass
Type 2      Poison
Name: 2, dtype: object
3 ==>
 Name      VenusaurMega Venusaur
Type 1                    Grass
Type 2                   Poison
Name: 3, dtype: object
4 ==>
 Name      Charmander
Type 1          Fire
Type 2           NaN
Name: 4, dtype: object
5 ==>
 Name      Charmeleon
Type 1          Fire
Type 2           NaN
Name: 5, dtype: object
6 ==>
 Name      Charizard
Type 1         Fire
Type 2       Flying
Name: 6, dtype: object
7 ==>
 Name      CharizardMega Charizard X
Type 1                         Fire
Type 2                       Dragon
Name: 7, dtype: object
8 ==>
 Name      CharizardMega Charizard Y
Type 1                         Fire
Type 2                       Flying
Name: 8, dtype: object
9 ==>
 Name      Squirtle
Type 1       Water
Type 2         NaN
Name: 9, dtype: object
10 ==>
 Name      Wartortle
Type 1        Water
Type 2          NaN
Name: 10, dtype: object

#### Condition based selection
Its some what similar to database queries

In [99]:
pokemon.loc[pokemon['Type 1'] == "Fire"] # select all pokemon whose type 1 is fire

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [113]:
pokemon.loc[(pokemon['Type 1'] == "Fire") | (pokemon['Type 2'] == "Fire")] #selects all fire type pokemon i.e. either type should be fire

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [115]:
pokemon.loc[((pokemon['Type 1'] == "Fire") | (pokemon['Type 2'] == "Fire")) & (pokemon['Legendary'])] # Select all fire type legendary pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
553,494,Victini,Psychic,Fire,100,100,100,100,100,100,5,True
706,643,Reshiram,Dragon,Fire,100,120,100,150,120,90,5,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [119]:
pokemon.loc[((pokemon['Type 1'] == "Psychic") | (pokemon['Type 2'] == "Psychic")) & (pokemon['Legendary'])]['Name']
#select only the names of all psychic type legendary pokemon

162                 Mewtwo
163    MewtwoMega Mewtwo X
164    MewtwoMega Mewtwo Y
269                  Lugia
417                 Latias
418      LatiasMega Latias
419                 Latios
420      LatiosMega Latios
427                Jirachi
428     DeoxysNormal Forme
429     DeoxysAttack Forme
430    DeoxysDefense Forme
431      DeoxysSpeed Forme
537                   Uxie
538                Mesprit
539                  Azelf
553                Victini
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
Name: Name, dtype: object

In [124]:
pokemon.loc[pokemon['Name'] == "Mew"] # search data of a specific pokemon by name

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
165,151,Mew,Psychic,NaN,100,100,100,100,100,100,1,False

In [128]:
pokemon.loc[pokemon['Name'] == "Snorlax"]['HP'] # find a specific value for a specific pokemon

155    160
Name: HP, dtype: int64

#### Description of Data:

In [133]:
pokemon.describe() #shares insightful aggrigate stats about pokemon

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [135]:
# Lets find out which pokemon has an attack of 5 (minimum)
pokemon.loc[pokemon['Attack']==5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

In [139]:
# Now lets find out who has max attack
pokemon.loc[pokemon['Attack']==max(pokemon['Attack'])] #can do it even if the max value is unknown

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True

## Practice Question:Find number of pokemon with above average speed for each type
(Try it yourself before expanding the solution)

In [147]:
# find the types of pokemon
pd.unique(pokemon['Type 1'])

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [67]:
#Solution
import numpy as np
avg_speed = np.average(pokemon['Speed'])
print("Average Speed:\t\t",avg_speed,end="\n\n")
for type in pd.unique(pokemon['Type 1']):
    print("Type: ",type,end="\t\t")
    temp = np.size(pokemon.loc[((pokemon['Type 1']==type) | (pokemon['Type 2']==type))&(pokemon['Speed']>np.average(pokemon['Speed']))]['Name'])
    print("Count: ",temp)

Average Speed:		 68.2775

Type:  Grass		Count:  32
Type:  Fire		Count:  38
Type:  Water		Count:  54
Type:  Bug		Count:  26
Type:  Normal		Count:  58
Type:  Poison		Count:  25
Type:  Electric		Count:  33
Type:  Ground		Count:  26
Type:  Fairy		Count:  12
Type:  Fighting		Count:  31
Type:  Psychic		Count:  53
Type:  Rock		Count:  13
Type:  Ghost		Count:  18
Type:  Ice		Count:  17
Type:  Dragon		Count:  35
Type:  Dark		Count:  29
Type:  Steel		Count:  17
Type:  Flying		Count:  78

In [193]:
# Lets test our results by checking the flying type
pokemon.loc[((pokemon['Type 1']=="Flying") | (pokemon['Type 2']=="Flying"))&(pokemon['Speed']>avg_speed)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False
771,701,Hawlucha,Fighting,Flying,78,92,75,74,63,118,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True

## Sorting

In [177]:
pokemon.sort_values('Name') # Order by name instead of dex number

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [183]:
pokemon.sort_values("Speed", ascending=False)[['#','Name','Type 1','Type 2','Speed']] # sort by speed, highest to lowest

       #                       Name   Type 1  Type 2  Speed
431  386          DeoxysSpeed Forme  Psychic     NaN    180
315  291                    Ninjask      Bug  Flying    160
428  386         DeoxysNormal Forme  Psychic     NaN    150
154  142  AerodactylMega Aerodactyl     Rock  Flying    150
71    65      AlakazamMega Alakazam  Psychic     NaN    150
..   ...                        ...      ...     ...    ...
658  597                  Ferroseed    Grass   Steel     10
486  438                     Bonsly     Rock     NaN     10
359  328                   Trapinch   Ground     NaN     10
230  213                    Shuckle      Bug    Rock      5
495  446                   Munchlax   Normal     NaN      5

[800 rows x 5 columns]

In [189]:
pokemon.sort_values(["Attack","Sp. Atk"], ascending=False)[['#','Name','Type 1','Type 2','Attack','Sp. Atk']] #Multi attribute sorting

       #                     Name   Type 1    Type 2  Attack  Sp. Atk
163  150      MewtwoMega Mewtwo X  Psychic  Fighting     190      154
232  214  HeracrossMega Heracross      Bug  Fighting     185       40
426  384    RayquazaMega Rayquaza   Dragon    Flying     180      180
429  386       DeoxysAttack Forme  Psychic       NaN     180      180
424  383    GroudonPrimal Groudon   Ground      Fire     180      150
..   ...                      ...      ...       ...     ...      ...
261  242                  Blissey   Normal       NaN      10       75
139  129                 Magikarp    Water       NaN      10       15
230  213                  Shuckle      Bug      Rock      10       10
121  113                  Chansey   Normal       NaN       5       35
488  440                  Happiny   Normal       NaN       5       15

[800 rows x 6 columns]

In [202]:
pokemon.sort_values(["Attack","Defense"],ascending=[0,1])[["#",'Name','Type 1','Type 2','Attack','Defense']] 
#Attack high to low, defence low to high i.e. glass canons

       #                     Name   Type 1    Type 2  Attack  Defense
163  150      MewtwoMega Mewtwo X  Psychic  Fighting     190      100
232  214  HeracrossMega Heracross      Bug  Fighting     185      115
429  386       DeoxysAttack Forme  Psychic       NaN     180       20
426  384    RayquazaMega Rayquaza   Dragon    Flying     180      100
424  383    GroudonPrimal Groudon   Ground      Fire     180      160
..   ...                      ...      ...       ...     ...      ...
261  242                  Blissey   Normal       NaN      10       10
139  129                 Magikarp    Water       NaN      10       55
230  213                  Shuckle      Bug      Rock      10      230
121  113                  Chansey   Normal       NaN       5        5
488  440                  Happiny   Normal       NaN       5        5

[800 rows x 6 columns]

## Making Changes to Data

### Creating a new column using existing data

In [48]:
# Find the Base Stat Total (BST) of pokemon
pokemon['BST'] = pokemon['HP'] + pokemon['Attack'] + pokemon['Defense'] + pokemon['Sp. Atk'] + pokemon['Sp. Def'] + pokemon['Speed']
pokemon.head(13)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,BST
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630

In [50]:
# Now we can sort pokemon from strongest to weekest (The Dataframe retains the new column)
pokemon.sort_values("BST",ascending=False)[0:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,BST
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,770
552,493,Arceus,Normal,NaN,120,120,120,120,120,120,4,True,720
712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True,700
711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True,700
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False,700
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False,700

### Dropping a column

In [52]:
pokemon = pokemon.drop(columns=['BST'])
pokemon.head(13)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False

### Another way to create Columns:

In [57]:
pokemon['BST'] = pokemon.iloc[:,4:10].sum(axis=1)# requires less manual work
pokemon.head(13)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,BST
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630

In [73]:
# Checking if pokemon is a physical or special attacker
pokemon['Atk Type'] = np.where(pokemon['Attack']>pokemon['Sp. Atk'], 'Physical', 'Special')
pokemon[166:175]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,BST,Atk Type
166,152,Chikorita,Grass,NaN,45,49,65,49,65,45,2,False,318,Special
167,153,Bayleef,Grass,NaN,60,62,80,63,80,60,2,False,405,Special
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False,525,Special
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False,309,Special
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False,405,Special
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False,534,Special
172,158,Totodile,Water,NaN,50,65,64,44,48,43,2,False,314,Physical
173,159,Croconaw,Water,NaN,65,80,80,59,63,58,2,False,405,Physical
174,160,Feraligatr,Water,NaN,85,105,100,79,83,78,2,False,530,Physical

### Rearranging the data in dataframe:

In [98]:
pokemon = pokemon[['#','Name','Type 1','Type 2','HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Generation','Legendary','Atk Type','BST']] # swapped attack type and BST
pokemon[166:175]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Atk Type,BST
166,152,Chikorita,Grass,NaN,45,49,65,49,65,45,2,False,Special,318
167,153,Bayleef,Grass,NaN,60,62,80,63,80,60,2,False,Special,405
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False,Special,525
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False,Special,309
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False,Special,405
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False,Special,534
172,158,Totodile,Water,NaN,50,65,64,44,48,43,2,False,Physical,314
173,159,Croconaw,Water,NaN,65,80,80,59,63,58,2,False,Physical,405
174,160,Feraligatr,Water,NaN,85,105,100,79,83,78,2,False,Physical,530

In [88]:
# A smarter way to do it:
cols = list(pokemon.columns.values)
cols

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Atk Type',
 'BST']

In [167]:
pokemon = pokemon[cols[0:10] + cols[-1:-3:-1] + cols[10:12]]
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Atk Type,Generation,Legendary
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,780,Special,3,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,780,Physical,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,780,Special,1,True
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,770,Special,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,770,Physical,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,195,Physical,1,False
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,195,Physical,3,False
446,401,Kricketot,Bug,NaN,37,25,41,25,41,25,194,Special,4,False
322,298,Azurill,Normal,Fairy,50,20,40,20,40,20,190,Special,3,False
206,191,Sunkern,Grass,NaN,30,30,30,30,30,30,180,Special,2,False

### Practice Question: Determine weather there are more physical or special attackers

In [169]:
#Get the count of physical attackers
# start by selecting all physical attackers
pokemon[pokemon['Atk Type'] == 'Physical']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Atk Type,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,780,Physical,1,True
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,770,Physical,3,True
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,700,Physical,2,False
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,700,Physical,4,False
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,700,Physical,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,664,Scatterbug,Bug,NaN,38,35,40,27,25,35,200,Physical,6,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,200,Physical,3,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,195,Physical,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,195,Physical,1,False
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,195,Physical,3,False

In [171]:
# Next use count method to get count col wise (vertical)
pokemon[pokemon['Atk Type'] == 'Physical'].count(axis=0)

#             384
Name          384
Type 1        384
Type 2        201
HP            384
Attack        384
Defense       384
Sp. Atk       384
Sp. Def       384
Speed         384
BST           384
Atk Type      384
Generation    384
Legendary     384
dtype: int64

In [173]:
#get a single value of count
pokemon[pokemon['Atk Type'] == 'Physical'].count(axis=0).iloc[0]

384

In [175]:
#assign it to a value and do the same for special attackers
physical_attackers = pokemon[pokemon['Atk Type'] == 'Physical'].count(axis=0).iloc[0]
special_attackers = pokemon[pokemon['Atk Type'] == 'Special'].count(axis=0).iloc[0]
print(f"Physical Attackers: {physical_attackers} \t Special Attackers: {special_attackers}")
print("The dominant attack type is : \t", "Physical" if physical_attackers>special_attackers else "Special")

Physical Attackers: 384 	 Special Attackers: 416
The dominant attack type is : 	 Special

## Saving the updated Dataframe in a file

First lets make some more modifications, on top of the new columns that we have added, lets say we want the new file to have pokemon ordered from strongest to weakest, lets update the dataframe accordingly and write it on a csv file.

In [177]:
pokemon = pokemon.sort_values('BST', ascending=False)
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Atk Type,Generation,Legendary
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,780,Special,3,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,780,Special,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,780,Physical,1,True
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,770,Special,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,770,Physical,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,195,Physical,1,False
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,195,Physical,3,False
446,401,Kricketot,Bug,NaN,37,25,41,25,41,25,194,Special,4,False
322,298,Azurill,Normal,Fairy,50,20,40,20,40,20,190,Special,3,False
206,191,Sunkern,Grass,NaN,30,30,30,30,30,30,180,Special,2,False

Now this is how we write the dataframe into a csv file:

In [184]:
pokemon.to_csv("Modified_Pokemon_Data_With_Annoying_Index.csv")
#Open this data file and you will see a completely unnecessary and out of order index column which is not needed, so to remove that we will do this:
pokemon.to_csv("Modified_Pokemon_Data.csv", index=False)

Now lets try to save in other formats:

In [191]:
pokemon.to_excel("Modified_Pokemon_Data.xlsx", index=False) #saves in index format
pokemon.to_csv("Modified_pokemon_Data.txt", sep="\t", index=False)